* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #22356f !important;

  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.menu-btn>* {
  transition: all 0.8s ease-in-out;
}

.hide {
  animation: change_vision_0 .5s ease;
  opacity: 0;
}

.show {
  animation: change_vision_1 .5s ease;
  opacity: 1;
}


header {
  position: sticky;
  /* padding: 0 50px; */
  top: 0;
  max-width: 100vw;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fade-in {
  opacity: 1;
  position: relative;
  transition: opacity 0.8s ease-in;

}

.fade-out {
  opacity: 0;
  position: absolute;
}

.section {
  min-height: 100vh;
  background-color: #fff;
}

.section.dark {
  background-color: #22356f;
}

.menu-btn:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

.menu-btn:blur {
  transform: scale(1.05);
  transition: all 0.8s ease-in-out;
}

.menu-btn.position1>#element0 {
  transform: translate(-28.72px, 0%);
}

.menu-btn.position1>#element1 {
  transform: translate(0, -28.72px);
}

.menu-btn.position1>#element2 {
  transform: translate(28.72px, 0);
}

.menu-btn.position1>#element3 {
  transform: translate(0, 28.72px);
}

.menu-btn.position2>#element0 {
  transform: translate(-28.72px, -28.72px);
}

.menu-btn.position2>#element1 {
  transform: translate(28, 72px, 28, 72px);
}

.menu-btn.position2>#element2 {
  transform: translate(28.72px, 28.72px);
}

/* .menu-btn.position2>#element3 {} */

.menu-btn.position3>#element0 {
  transform: translate(0, -28.72px);
}

.menu-btn.position3>#element3 {
  transform: translate(0, 28.72px);
}

@keyframes wave1 {
  0% {
    transform: translateY(-2px);
    fill: "url(#gradient1)";
    opacity: 0.8;

  }

  50% {
    transform: translateY(2px);
    fill: "url(#gradient2)";
    opacity: 0.6;

  }

  100% {
    transform: translateY(-2px);
    fill: "url(#gradient3)";
    opacity: 1;

  }
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0eg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


@keyframes wave3 {
  0% {
    transform: translateY(0);
    fill: "url(#gradient1)";
    opacity: 1;

  }

  /* 100% {
    transform: translateY(-28px);
    fill: "url(#gradient3)";
    opacity: 0;

  } */
  100% {
    transform: translateY(16px);
    fill: "url(#gradient2)";
    opacity: 0;

  }

  /* 100% {
    transform: translateY(-28px);
    fill: "url(#gradient3)";
    opacity: 0;

  } */
}

@keyframes scroll_change {
  0% {
    /* transform: translateY(-4px); */
    /* stroke:red; */
    fill: "url(#gradient1)";
    /* opacity: 0.8; */

  }

  50% {
    /* transform: scale(.8); */
    fill: "url(#gradient2)";
    /* opacity: 0.6; */

  }

  100% {
    width: 180px;
    height: 90px;
    transform: translateY(-4px);
    /* stroke:green; */
    fill: "url(#gradient3)";
    /* opacity: 1; */

  }
}

@keyframes change_vision_0 {
  0% {
    /* transform: scale(1); */
    opacity: 1;

  }

  100% {
    /* transform: scale(0); */
    opacity: 0;
  }
}

@keyframes change_vision_1 {
  0% {
    /* transform: scale(1); */
    opacity: 0;

  }

  100% {
    /* transform: scale(0); */
    opacity: 1;
  }
}

.main_logo_icon {
  position: absolute;
  animation: scroll_change 2.5s ease-in-out;
}

#box_logo_change_color #icon_caption_shell,
#icon_caption_letter_ya {
  transition: .4s ease-in-out;
}

#box_logo_change_color:hover #icon_caption_shell {
  fill: rgb(253, 198, 19);
}

#box_logo_change_color:hover #icon_caption_letter_ya {
  fill: #fd3f1d;
}

.main_logo_icon>#icon_caption {
  animation: change_vision_0 2.5s ease-in-out;
}

.main_logo_icon>*>#icon_caption {
  animation: change_vision_0 2.5s ease-in-out;
}

.icon>#border {
  transition: all .8s ease;
}

/* .icon>path:first-child {
  animation: wave1 2.5s infinite;
}

.icon>path:not(:first-child) {
  animation: wave2 1.5s infinite;
} */

.icon {
  animation: tilt-shaking 1.6s infinite;
}


.colored {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: linear-gradient(to right, #A8D4AF, #A8D4AF 12.5%, #A8D4AF 12.5%, #A8D4AF 25%, #A8D4AF 25%, #A8D4AF 37.5%, #A8D4AF 37.5%, #A8D4AF 50%, #A8D4AF 50%, #A8D4AF 62.5%, #A8D4AF 62.5%, #A8D4AF 75%, #A8D4AF 75%, #A8D4AF 87.5%, #A8D4AF 87.5%, #62c2e4);
  padding-right: 50%;
  background-origin: content-box;
  background-size: 200%;
  animation-name: colored;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8);
}

@keyframes colored {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 200% 0%;
  }
}